.test {
    border: 1px solid red;
}

.flex-container {
    display: flex;

}

.flex-item-1 {
    flex: 1;
    /* // border: 1px solid blue; */
}

.flex-item-2 {
    flex: 2;
    /* // border: 1px solid red; */
}

.field-name {
    color: Black;
    font-family: Arial;
    font-size: 14px;
}

.ButtonStyle {
    border-bottom: 1px solid #152C54;
    border-top: 1px solid #FFE1B3;
    border-left: 1px solid #FFE1B3;
    border-right: 1px solid #152C54;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #FFFFFF;
    background: #39624C;
}

.TopLabel {
    color: White;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
}

.header-tab {
    background-color: #BF5564;

    padding: 0px 15px;
    display: inline-block;
    

    /* border: 1px solid lime; */
}

.header-tab-active {
    background-color: #73a370;
    color: white;
    font-family: Verdana, Arial;
    text-decoration: none;

    border-radius: 0px 10px 0px 0px;

    /* border: 1px solid yellow; */
}

.header-item-left {
    text-align: left;
    /* // font-size: 1.0em;
    // border: 1px solid red; */
    color: #1B6742;
    font-family: Verdana, Arial;
    font-size: 18px;
    text-decoration: none;
    font-weight: 900;
}

.header-item-right {
    text-align: right;
    /* // font-size: 0.8em;
    // border: 1px solid green; */
    color: #1B6742;
    font-family: Verdana, Arial;
    font-size: 11px;
    text-decoration: none;
}

.content-container {
    background-color: #C7DBB8;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
}

.content-nav-container {
    background-color: #79A775;
}

.nav-title-left, .nav-title-right {
    color: White;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

.nav-title-left {
    text-align: left;
    padding-left: 0.5em;
}

.nav-title-right, .nav-title-exit {
    text-align: right;
    padding-right: 0.5em;
}

.nav-title-exit {
    padding-right: 15px;
    

    /* border: 1px solid cyan; */
}

.content-warning-left, .content-user-id-left, .content-password-left {
    padding-top: 1em;
    text-align: center;
}

.content-warning-left {
    height: 100px;
}

.content-warning-right {
    TEXT-ALIGN: justify;
    padding: 1em;
}

.content-user-id-left, .content-password-left {
    height: 35px;
}

.content-user-id-right, .content-password-right {
    line-height: 49px;
}

.login-confirm, .login-clear {
    margin: 1em;
    width: 150px;
}
