

.flex-container {
    display: flex;

}

.flex-item-1 {
    flex: 1;

}

.flex-item-2 {
    flex: 2;
}

.flex-item-7 {
    flex: 7;
}

.field-name {
    color: Black;
    font-family: Arial;
    font-size: 14px;
}

.exit-btn {
    text-decoration: none;
    color: white;
}

.exit-btn > label {
    font-size: 20px;
    padding-right: 15px;
}

.border-frame {
    border: 10px solid #79A775;
}

.RowSeparator {
    background: #79A775;
    width: 100%;
    height: 3px;
    margin: 5px 0px;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.RedLink {
    color: #BF5564;
    font-family: Arial;
    font-size: 14px;
    text-decoration: underline;
}

.ButtonStyle {
    border-bottom: 1px solid #152C54;
    border-top: 1px solid #FFE1B3;
    border-left: 1px solid #FFE1B3;
    border-right: 1px solid #152C54;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #FFFFFF;
    background: #39624C;
}

.SmallButtonStyle {border-bottom: 1px solid #152C54;
    border-top: 1px solid #FFE1B3;
    border-left: 1px solid #FFE1B3;
    font-size: 14px;
    font-family: "Arial";
    color: White;
    background: #39624C;
    font-weight: bold;
    text-align: center;
    height: 30px;
    line-height: 30px;
}

.SmallButtonStyle > a {
    text-decoration: none;
    color: white;
}

.LargeButtonStyle  {border-bottom: 1px solid #152C54;
    border-top: 1px solid #FFE1B3;
    border-left: 1px solid #FFE1B3;
    border-right: 1px solid #152C54;
    font-size: 15px;font-family: "Arial";
    color: White;
    background: #39624C;
    font-weight: bold;
}




.TopLabel {
    color: White;
    font-family: Arial;
    font-size: 14px;
    text-decoration: none;
}

.FieldName {
    color: Black;
    font-family: Arial;
    font-size: 14px;
}

.grid-header {
    width: 100%;
    height: 30px;
    background: #BF5564;
}

.shadow-top {
    box-shadow: 0 -5px 5px -5px black;
}

.shadow-right {
    box-shadow: 5px 0 5px -5px black;
}

.shadow-bottom {
    box-shadow: 0 5px 5px -5px black;
}

.shadow-left {
    box-shadow: -5px 0 5px -5px black;
}

.header-tab {
    background-color: #BF5564;

    padding: 0px 15px;
    display: inline-block;

    text-align: center;
    width: 80px;

    line-height: 30px;

    box-shadow: 5px 0 5px -5px black;



    /* border: 1px solid lime; */
}

.header-tab-active {
    background-color: #81a478;
    color: white;
    /* font-family: Verdana, Arial; */
    text-decoration: none;
    font-weight: bold;

    border-radius: 0px 10px 0px 0px;

    box-shadow: 5px 0 5px -5px yellow;

    /* border: 1px solid yellow; */
}

.header-item-left {
    text-align: left;

    color: #1B6742;
    font-family: Verdana, Arial;
    font-size: 18px;
    text-decoration: none;
    font-weight: 900;
}

.header-item-right {
    text-align: right;

    color: #1B6742;
    font-family: Verdana, Arial;
    font-size: 11px;
    text-decoration: none;
}

.grid-container {
    background-color: #C7DBB8;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    height: 400px;
}

.grid-nav-container {
    background-color: #79A775;
    height: 35px;
    line-height: 35px;
}

.nav-title-left, .nav-title-right {
    color: White;
    font-family: Arial;
    font-size: 20px;
    text-decoration: none;
}

.nav-title-left {
    text-align: left;
    padding-left: 0.5em;
}

.nav-title-right, .nav-title-exit {
    text-align: right;
    padding-right: 0.5em;
}

.nav-title-exit {
    padding-right: 15px;

}

.content-container {
    padding: 1em;
}


.menu-container {
    /* border: 1px solid red; */
    width: 100%;
    flex: 8;
    padding-top: 2em;
}

.func-parent {
    /* border: 1px solid red; */
}

.func-child {
    height: 30px;
    /* text-decoration: none; */
}

.func-bullet {
    /* text-decoration: none; */
    color: black;
}

.func-bullet:hover {
    color: #1B6742;
}

/***
main menu
*/
.main-menu {
    background: #BF5564;
    /* padding: 10px; */
}

.main-menu > input {
    display: none;
}

#exit-tab {
    display: none;
}

.main-menu > #exit-tab:checked + label,
.main-menu > label,
.main-menu > div > form > label {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 25px;
    color: white;
    background-color: #BF5564;
    margin-bottom: -1px;
    margin-left: -1px;
    border-radius: 0px 10px 0px 0px;
    margin-right: -3px;
}
.main-menu label:before {
    content:'';
    display:block;
    width:100%;
    background-color:#fff;
    position:absolute;
    bottom:-11px;
    left:0;
    z-index:10;
}
.main-menu > label:hover {
    color: #93de83;
    cursor: pointer;
}
.main-menu input:checked + label {
    position: relative;
    color: white;
    background-color: #81a478;
}
.main-menu input:checked + label:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
#main-content-1, #main-content-2, #main-content-3 {
    display: none;
    /* padding: 15px; */
    height: 150px;
    background-color: #C7DBB8;
}
#main-tab-1:checked ~ #main-content-1,
#main-tab-2:checked ~ #main-content-2,
#main-tab-3:checked ~ #main-content-3 {
    display: block;
}


#exit-tab {

}


/***
sub menu
*/
.sub-menu {
    background: #b6cba2;
    /* padding: 10px; */
    flex: 7;
}

.sub-menu input {
    display: none;
}
.sub-menu label {
    box-sizing: border-box;
    display: inline-block;
    padding: 5px 25px;
    color: white;
    background-color: #82a579;
    margin-bottom: -1px;
    margin-left: -1px;
    border-radius: 0px 0px 10px 0px;
    margin-right: -3px;
}
.sub-menu label:before {
    content:'';
    display:block;
    width:100%;
    background-color:#fff;
    position:absolute;
    bottom:-11px;
    left:0;
    z-index:10;
}
.sub-menu label:hover {
    color: #93de83;
    cursor: pointer;
}
.sub-menu input:checked + label {
    position: relative;
    color: white;
    background-color: #6a8369;
}
.sub-menu input:checked + label:after {
    display: block;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
}
#sub-content-1-1, #sub-content-1-2, #sub-content-1-3,
#sub-content-2-1, #sub-content-2-2, #sub-content-2-3,
#sub-content-3-1, #sub-content-3-2, #sub-content-3-3
{
    display: none;
    padding: 15px;
    height: 150px;
}
#sub-tab-1-1:checked ~ #sub-content-1-1,
#sub-tab-1-2:checked ~ #sub-content-1-2,
#sub-tab-1-3:checked ~ #sub-content-1-3,
#sub-tab-2-1:checked ~ #sub-content-2-1,
#sub-tab-2-2:checked ~ #sub-content-2-2,
#sub-tab-2-3:checked ~ #sub-content-2-3,
#sub-tab-3-1:checked ~ #sub-content-3-1,
#sub-tab-3-2:checked ~ #sub-content-3-2,
#sub-tab-3-3:checked ~ #sub-content-3-3
{
    display: block;
}