<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"></meta>
    <title>Title</title>

    <!--<link rel="stylesheet" href="/adminfunc/css/style.css">-->
    <!--<link rel="stylesheet" href="/adminfunc/css/login-fail.css">-->

</head>

<body>
<div>
    <h3>fail</h3>
    <h3>
        tilte: <span th:text="${userDTO.errorTitle}"></span><br/>
        error: <span th:text="${userDTO.errorMessage}"></span><br/>
    </h3>
    <h3 th:text="${userDTO}"></h3>
    <!--<div class="flex-container">-->
        <!--<div class="flex-item-1 header-item-left">-->
            <!--<span>e-Services 2</span>-->
        <!--</div>-->
        <!--<div></div>-->
        <!--<div class="flex-item-1 header-item-right">-->
                <!--<span>Date:-->
                    <!--<b>Wednesday, 3 January 2018</b>-->
                <!--</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="grid-container">-->
        <!--<div class="grid-header">&nbsp;</div>-->
        <!--<div class="flex-container grid-nav-container">-->
            <!--<div class="flex-item-1 nav-title-left">-->
                <!--<span style=" width: '100%'">Login Rejected</span>-->
            <!--</div>-->
            <!--<div></div>-->
            <!--<div class="flex-item-1 nav-title-right">-->
                <!--<span style=" width: '100%' ">ASC0001</span>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="content-container flex-container">-->
            <!--<div class="login-fail-container">-->
                    <!--<span id="loginFailTitle" class="login-fail-title">-->
                        <!--<b>Warning</b>-->
                    <!--</span>-->

                <!--<p id="loginFailContent" class="login-fail-content">-->
                    <!--<b>-->
                        <!--Your account has been locked after 180 days of inactivity. Please contact your supervisor to activate the account if necessary.-->
                    <!--</b>-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
</div>
</body>

</html>