<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <link rel="stylesheet" th:href="@{/css/audit-log.css}" />
</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <form th:action="@{/eservices2/auditLogSearch.do}" >
        <div style="padding: 1.5em;">
            <div style=" margin-top: 1.5em; width: 100%; height: 200px; ">
                <div id="auditLogSearch">
                    <span>Search Criteria</span>
                </div>

                <div class="search-form">

                    <div class="row">
                        <label>Function Name:</label>
                        <div  id="functionNameId" >
                            <select name="auditLogDTO.funcId" >
                                <option value="EC01">Application Fee Enquiry</option>
                                <option value="EC02">System Holiday View</option>
                                <option value="EC03">Schedule Job View</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label>User ID:</label>
                        <div  id="userId" >
                            <input name="auditLogDTO.userId" />
                        </div>
                    </div>

                    <div class="row">
                        <label>Start Date:</label>
                        <div  id="startDate" >
                            <input name="auditLogDTO.startDate" />
                        </div>
                    </div>

                    <div class="row">
                        <label>End Date:</label>
                        <div  id="endDate" >
                            <input name="auditLogDTO.endDate" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="button-panel"  >

            <button type="submit">Search</button>
        </div>


        </form>
    </div>


</div>
</body>
</html>