<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <script>

        jQuery(function(){
            $("#auditLog").on("submit", function(e){
                if ($(".forStartDate").val() == '')
                    $(".startDate").prop('disabled', true);
                else
                    $(".startDate").prop('disabled', false);
//                    $(".startDate").val(moment($(this).val(), UI_DATE_FORMAT).format(UI_DATE_FORMAT));
                $(".startDate").val($(".forStartDate").val());

                if ($(".forEndDate").val() == '')
                    $(".endDate").prop('disabled', true);
                else
                    $(".endDate").prop('disabled', false);

                $(".endDate").val($(".forEndDate").val());
            })
        })
    </script>

</head>
<body>
<div>
    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">

        <form id="auditLog" th:action="@{/eservices2/auditLogSearch.do}" method="post" >
        <div class="content-padding">
            <div style=" margin-top: 1.5em; width: 100%; height: 200px; ">
                <div id="auditLogSearch">
                    <span>Search Criteria</span>
                </div>

                <!--
                <div class="search-form">

                    <div class="row">
                        <label>Function Name:</label>
                        <div  id="functionNameId" >
                            <select name="funcId" >
                                <option></option>
                                <option value="EC01">Application Fee Enquiry</option>
                                <option value="EC02">System Holiday View</option>
                                <option value="EC03">Schedule Job View</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <label>User ID:</label>
                        <div  id="userId" >
                            <input name="userId" />
                        </div>
                    </div>

                    <div class="row">
                        <label>Start Date:</label>
                        <div  id="startDate" >
                            <input class="forStartDate" />
                            <input class="startDate" type="hidden" name="startDate" disabled="disabled"/>
                        </div>
                    </div>
                    <div class="row">
                        <label>End Date:</label>
                        <div  id="endDate" >
                            <input class="forEndDate" />
                            <input class="endDate" type="hidden" name="endDate" disabled="disabled" />
                        </div>
                    </div>

                </div>
                -->
            </div>
        </div>
        <div class="button-panel"  >

            <button type="submit">Search</button>
        </div>


        </form>
    </div>


</div>
</body>
</html>