<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <!--<script src="/adminfunc/js/lib/jquery-3.3.1.min.js"></script>-->
    <!--<script src="/adminfunc/js/lib/lodash.min.js"></script>-->
    <!--<script src="/adminfunc/js/lib/moment.min.js"></script>-->

    <!--<script src="/adminfunc/js/lib/jsgrid-1.5.3/jsgrid.min.js"></script>-->

    <!--<script th:inline="javascript" src="/adminfunc/js/common.js"></script>-->

    <!--<link rel="stylesheet" href="/adminfunc/css/style.css"/>-->

    <!--<link rel="stylesheet" href="/adminfunc/js/lib/jsgrid-1.5.3/jsgrid-custom.css"/>-->
    <!--<link rel="stylesheet" href="/adminfunc/js/lib/jsgrid-1.5.3/jsgrid-theme-custom.css"/>-->

    <script>
        $(document).ready(function () {

            updateNavTitle();

            var names = [
                {
                    'Application Name': 'Application for HKSAR Passport (For persons 16 years of age or above applying in Hong Kong)',
                    'Price Name': 'Application for HKSAR Passport (For persons 16 years of age or above applying in Hong Kong)',
                    'Valid From': '2017-01-01',
                    'Valid To': '2018-01-01',
                    'Payment Code': '500',
                    'Payment Description': 'Application for HKSAR Passport ',
                    'Effective Date': '2017-01-01',
                    'Receipt Print Indicator': 'BOCI',
                    'Document Issue Indicator': 'ImmD',
                    'Revenue Code': '500'
                },
                {
                    'Application Name': 'Application for HKSAR Passport (For persons 16 years of age or above applying in Hong Kong)',
                    'Price Name': 'Application for HKSAR Passport (For persons 16 years of age or above applying in Hong Kong)',
                    'Valid From': '2017-01-01',
                    'Valid To': '2018-01-01',
                    'Payment Code': '500',
                    'Payment Description': 'Application for HKSAR Passport ',
                    'Effective Date': '2017-01-01',
                    'Receipt Print Indicator': 'BOCI',
                    'Document Issue Indicator': 'ImmD',
                    'Revenue Code': '500'
                },
                {
                    'Application Name': 'Application for HKSAR Passport (For persons 16 years of age or above applying in Hong Kong)',
                    'Price Name': 'Application for HKSAR Passport (For persons 16 years of age or above applying in Hong Kong)',
                    'Valid From': '2017-01-01',
                    'Valid To': '2018-01-01',
                    'Payment Code': '500',
                    'Payment Description': 'Application for HKSAR Passport ',
                    'Effective Date': '2017-01-01',
                    'Receipt Print Indicator': 'BOCI',
                    'Document Issue Indicator': 'ImmD',
                    'Revenue Code': '500'
                }
            ];

            $("#appFeeEnqGrid").jsGrid({
                width: '100%',
                height: '100%',


                sorting: false,
                noDataContent: 'NO data',
                selecting: false,

                // paging: true,
                // pageSize: 3,
                // pageButtonCount: 5,
                // pagerContainer: '#externalPager',
                // pagerFormat: 'current page: {pageIndex} &nbsp;&nbsp; {first} {prev} {pages} {next} {last} &nbsp;&nbsp; total pages: {pageCount}',
                // pagePrevText: 'prev',
                // pageNextText: 'next',
                // pageFirstText: 'first',
                // pageLastText: 'last',
                // pageNavigatorNextText: '&#8230;',
                // pageNavigatorPrevText: '&#8230;',

                data: names,

                fields: [
                    {name: 'Application Name', type: 'text', width: 100},
                    {name: 'Price Name', type: 'text', width: 80},
                    {name: 'Valid From', type: 'text', width: 60},
                    {name: 'Valid To', type: 'text', width: 60},
                    {name: 'Payment Code', type: 'text', width: 50},
                    {name: 'Payment Description', type: 'text', width: 80},
                    {name: 'Effective Date', type: 'text', width: 80},
                    {name: 'Receipt Print Indicator', type: 'text', width: 80},
                    {name: 'Document Issue Indicator', type: 'text', width: 80},
                    {name: 'Revenue Code', type: 'text', width: 80}
                ]
            });

        });


        var menu = [

        ];

    </script>

</head>
<body>
<div>

    <!--<div th:replace="fragments/header :: main-menu(${ROOT})"></div>-->

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div style="padding: 1.5em;">
            <div id="appFeeEnqGrid"></div>
        </div>
    </div>



    <!--
        <div class="flex-container">
            <div class="flex-item-1 header-item-left">
                <span>e-Services-2</span>
            </div>
            <div></div>
            <div class="flex-item-1 header-item-right">
                    <span>| userID:
                        <b></b> |</span>
                <span>Date:
                        <b id="todayDate"></b>
                    </span>
            </div>
        </div>
        <div class="grid-container ">


            <div class="main-menu">
                <span th:each="m,i : ${ROOT.childern}">
                    <input type="radio" id="main-tab-" th:attrappend="id=${i.index + 1}"  name="main-tabs" checked="checked"/>
                    <label for="main-tab-" th:attrappend="for=${i.index + 1}" style="" url="${m.url}" th:text="${m.label}"></label>

                </span>


                <div style="float: right;">
                    <a th:href="@{/AUTH/logout.do}" class="exit-btn">
                        <input type="submit" id="exit-tab" name="" />
                        <label for="exit-tab" >Exit</label>
                    </a >
                </div>


                <div id="main-content-1">
                    <div class="flex-container grid-nav-container">
                        <div class="flex-item-1 nav-title-left">
                                <span style=" width: '100%'">e-Services-2 >
                                    <span id="eServices2SubCat">Enquiry</span> >
                                    <span id="eServices2Func">Application Fee Enquiry</span>
                                </span>
                        </div>
                        <div class="flex-item-1 nav-title-right">
                            <span style="width: 100%;">AFE0001</span>
                        </div>
                    </div>
                    <div class="content-container " style=" height: 300px;">

                    </div>
                </div>

        </div>

    </div> -->


</div>
</body>
</html>