<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>


    <script type="text/javascript">
        $(document).ready(function () {
            let names = [
                {
                    'Effective Date': '13/02/2010 00:00:00',
                    'To': '01/01/2099 00:00:00',
                    'Name': '',
                    'White/Black': 'White',
                    'Channel': 'W',
                    'IP/Telephone Number': '10.26.171.83'
                }
            ];

            let grid = $("#accessControlGrid");
            // console.log(grid);



            grid.jsGrid(
                {
                    width: '100%',
                    height: '100%',

                    sorting: true,
                    noDataContent: 'NO data',
                    selecting: false,

                    data: names,

                    fields: [
                        { name: 'Effective Date', type: 'text', width: 60, headerTemplate: commonHeader },
                        { name: 'To', type: 'text', width: 40, headerTemplate: commonHeader },
                        { name: 'Name', type: 'text', width: 50, headerTemplate: commonHeader },
                        { name: 'White/Black', type: 'text', width: 80, headerTemplate: commonHeader },
                        { name: 'Channel', type: 'text', width: 40, headerTemplate: commonHeader },
                        { name: 'IP/Telephone Number', type: 'text', width: 80, headerTemplate: commonHeader },
                        {
                            type: 'control',
                            headerTemplate: function () {
                                let title = '<span>Detail</span>';
                                return title;
                            },
                            itemTemplate: function (value, item) {
                                let result = jsGrid.fields.control.prototype.itemTemplate.apply(this, arguments);

                                let str = '';

                                str += '<span>';
                                str += '<a th:href="@{/accessControlView.do}" class="RedLink">';
                                str += 'View';
                                str += '</a>';
                                str += '</span>';

                                // result = result.add(str);
                                result = str;

                                return result;
                            }
                        }
                    ]

                }
            )


        });
    </script>

</head>
<body>
<div>


    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div style="padding: 1.5em;">
            <div class="flex-container">
                <div class="flex-item-1 ">
                    <span class="field-name" style="font-size: large; line-height: 30px;">Access Control</span>
                </div>
                <div style="flex: auto;"></div>
                <div class="flex-item-1 SmallButtonStyle" style="margin: 0px 10px;">
                    <a th:href="@{/accessControlGlobal.do}">
                        <span>Edit Global Parameters</span>
                    </a>
                </div>
                <div class="flex-item-1 SmallButtonStyle">
                    <a th:href="@{/createAccessControl.do}">
                        <span>Create New White/Black List</span>
                    </a>
                </div>
            </div>
            <div style=" margin-top: 1.5em; width: 100%; height: 200px; ">
                <div id="accessControlGrid"></div>
            </div>
        </div>
    </div>


</div>
</body>
</html>