<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <meta charset="UTF-8"></meta>
    <title>e-Services Admin Function</title>

    <link rel="stylesheet" href="/adminfunc/css/access-control.css"/>

    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>

</head>
<body>
<div>

    <div layout:fragment="header(${ROOT})"></div>

    <div layout:fragment="content">
        <div style="padding: 1.5em;">
            <h3>Global Parameters</h3>

            <div class="border-frame global-success-frame " style="padding: 1em;">
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span>Whitelist</span>
                    </div>
                    <div class="success-item-right">
                        <span>Enabled</span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span>Blacklist</span>
                    </div>
                    <div class="success-item-right">
                        <span>Enabled</span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span>Counter Blocking</span>
                    </div>
                    <div class="success-item-right">
                        <span>Enabled</span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span>Number of Transactions</span>
                    </div>
                    <div class="success-item-right">
                        <span>1000</span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span>Number of Days for Transactions</span>
                    </div>
                    <div class="success-item-right">
                        <span>100</span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span>Number of Appointments</span>
                    </div>
                    <div class="success-item-right">
                        <span>100</span>
                    </div>
                </div>
                <div class="flex-container success-item-container">
                    <div class="success-item-left">
                        <span>Number of Days for Appointments</span>
                    </div>
                    <div class="success-item-right">
                        <span>100</span>
                    </div>
                </div>
            </div>

            <div class="success-label">The changes is saved.</div>

            <div style=" float: right; padding-top: 1em;">
                <a th:href="@{/accessControl.do}">
                    <input type="text" value="Back to Access Control" class="ButtonStyle back-button" style="margin-right: 20px;" />
                </a>
            </div>
        </div>
    </div>


</div>
</body>
</html>